/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ebe3e3;
  color: white;

/* HERO */
.hero {
  height: 35vh;
  background: url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
   font-size: 36px;
  color:#ffffff;
  margin: 0;
  
  text-shadow: 10px 4px 9px #bf2a7f, 6px 8px 114px #9b0000, 3px 3px 0px #b70404, 4px 4px 0px #0000, 5px 5px 0px #bb2121, 6px 6px 12px rgba(0, 0, 0, 0.8);
}

.hero p {
  font-size: 14px;
}

/* CONTAINER */
.salon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

/* CARD */
.salon-card {
display: flex;
    align-items: center;
    gap: 19px;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background: #613535;
    border-radius: 12px;
    border: 1px solid #181502;
    box-shadow: 0 4px 12px rgb(195 72 72);
    transition: 0.3s;
}

/* IMAGE */
.salon-card img {
  width: 90px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

/* TEXT */
.salon-info {
  flex: 1;
  color: white;
}

.salon-info h3 {
  margin: 0;
  font-size: 16px;
}

.salon-info p {
  margin: 2px 0;
  font-size: 12px;
  color: #ddd;
}

/* ACTION AREA */
.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BUTTON */
.action button {
  background: #25D366;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* SMALL TEXT */
.action span {
  font-size: 10px;
  color: #ddd;
  margin-top: 2px;
}

/* HOVER */
.action button:hover {
  background: #1ebe5d;
}

/* MOBILE */
@media (max-width: 600px) {

  .hero h1 {
    font-size: 24px;
  }

  .salon-card {
    flex-direction: row;
    padding: 8px;
  }

  .salon-card img {
    width: 70px;
    height: 60px;
  }

  .action button {
    font-size: 12px;
    padding: 5px 8px;
  }
}
